@model NJS_Chat.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
}

@section styles{
    <link href="~/Content/pure/base-min.css" rel="stylesheet" />
    <link href="~/Content/pure/pure-min.css" rel="stylesheet" />
    <link href="~/Content/Layout/one-column.css" rel="stylesheet" />
    <link href="~/Content/Plugins/UI.css" rel="stylesheet" />
}
<div id="main" style="display: none;">
    <div class="wrap">

        <div id="primary">
            <div id="content" role="main">
                @using (Html.BeginForm("PostMessage", "Home", FormMethod.Post, new { @class = "pure-form" }))
                {
                    @Html.HiddenFor(model => model.Username)
                    @Html.HiddenFor(model => model.Session)

                    @Html.TextBoxFor(model => model.Message, new { placeholder = "Type a message here", autofocus = "", style = "width: 500px", autocomplete = "off", type = "text" })

                    @Html.DropDownListFor(model => model.To, Model.ToSelectItems)


                    <button class="pure-button pure-button-primary">Send</button>
                }
            </div><!-- #content -->
        </div><!-- #primary -->

    </div><!--.wrap-->
</div><!--#main-->

<iframe id="messageFrame" width="100%" height="100%" frameborder="0" src="@Url.Action("Message", "Home")"></iframe>


