@using NJS_Chat.Helpers
@model List<Global.Message>

@{
    ViewBag.Title = "Message";
    Layout = null;
}

<html>
<head>
    @*<meta http-equiv="refresh" content="9">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="~/Content/pure/base-min.css" rel="stylesheet" />
    <link href="~/Content/pure/pure-min.css" rel="stylesheet" />
    <link href="~/Content/Layout/one-column.css" rel="stylesheet" />
    <link href="~/Content/Plugins/UI.css" rel="stylesheet" />
</head>
<body style="overflow: auto;">

    <div id="main">
        <div class="wrap">

            <div id="primary">
                <div id="content" role="main">
                    <form class="pure-form">
                        <div class="bordered message-body">
                            @if (Model.Count > 0)
                            {
                                foreach (Global.Message message in Model)
                                {
                                    if (message.To == "Everyone")
                                    {
                                        <p><strong>@message.From:</strong> @Html.Raw(message.MessageBody.Replace(Environment.NewLine, "<div></div>"))</p>
                                    }
                                    else
                                    {
                                        if (message.From == Session["_Username"].ToString())
                                        {
                                            <p><strong>[You -> @message.To]</strong> @Html.Raw(message.MessageBody.Replace(Environment.NewLine, "<div></div>"))</p>
                                        }
                                    }
                                    if (message.To == Session["_Username"].ToString())
                                    {
                                        <p><strong>[@message.From]</strong> @Html.Raw(message.MessageBody.Replace(Environment.NewLine, "<div></div>"))</p>
                                    }

                                }
                            }
                            else
                            {
                                <strong> - No new messages -</strong>
                            }
                        </div>
                    </form>
                </div><!-- #content -->
            </div><!-- #primary -->

        </div><!--.wrap-->
    </div><!--#main-->
</body>
</html>



