@using NJS_Chat.Helpers
@model List<NJS_Chat.Helpers.Global.Message>

@{
    ViewBag.Title = "Message";
    Layout = null;
}

<html>
<head>
    @*<meta http-equiv="refresh" content="9">*@
    <title></title>
    <link href="~/Content/Plugins/Timer.css" rel="stylesheet" />
    <link href="~/Content/Plugins/Loader.css" rel="stylesheet" />
    <link href="~/Content/Layout/three-column.css" rel="stylesheet" />
</head>
<body style="overflow: auto;">
    <form>
        <div id="pagewrap">
            <div id="middle" style="width: 90%">
                @*<div class="secondsOnly">
                                    <div class="time-part-wrapper">
                    <div class="time-part seconds tens">
                            <div class="digit-wrapper">
                                <span class="digit">0</span>
                                    <span class="digit">9</span>
                                    <span class="digit">8</span>
                                    <span class="digit">7</span>
                                    <span class="digit">6</span>
                                    <span class="digit">5</span>
                                    <span class="digit">4</span>
                                    <span class="digit">3</span>
                                    <span class="digit">2</span>
                                    <span class="digit">1</span>
                                    <span class="digit">0</span>
                                                    </div>
                                                </div>
                        <div class="time-part seconds ones">
                            <div class="digit-wrapper">
                                <span class="digit">0</span>
                                <span class="digit">9</span>
                                <span class="digit">8</span>
                                <span class="digit">7</span>
                                <span class="digit">6</span>
                                <span class="digit">5</span>
                                <span class="digit">4</span>
                                <span class="digit">3</span>
                                <span class="digit">2</span>
                                <span class="digit">1</span>
                                <span class="digit">0</span>
                            </div>
                        </div>
                                    </div>
                                </div>*@

                @if (Model.Count > 0)
                {
                    foreach (Global.Message message in Model)
                    {
                        if (message.To == "Everyone")
                        {
                            <p><strong>@message.From:</strong> @Html.Raw(message.MessageBody.Replace(Environment.NewLine, "<div></div>"))</p>
                        }
                        else
                        {
                            if (message.From == Session["_Username"].ToString())
                            {
                                <p><strong>[You -> @message.To]</strong> @Html.Raw(message.MessageBody.Replace(Environment.NewLine, "<div></div>"))</p>
                            }
                        }
                        if (message.To == Session["_Username"].ToString())
                        {
                            <p><strong>[@message.From]</strong> @Html.Raw(message.MessageBody.Replace(Environment.NewLine, "<div></div>"))</p>
                        }
                        
                    }
                }
                else
                {
                    <strong> - No new messages -</strong>
                }
            </div>

            @*<div id="sidebar">
                    <h2>Latest Links</h2>
                    <a href="http://www.google.co.za" target="_blank"></a>
                </div>*@

            <div id="footer">
            </div>

        </div>
    </form>

</body>
</html>



